@charset "utf-8"

/*
	Neverland for Project Picky
	
	Author: Marguerite.Su <i@marguerite.su>
	Web: http://p.marguerite.su

*/

body {
	padding: 0px;
	margin: 0px;
}

h1, h2, h3, h4, h5, h6 {
	color: #304a87;
}

h2 {
	font-size: 16px;
	line-height: 16px;
	margin-top: 15px;
	margin-bottom: 15px;
	padding: 0px;
}

a:link, a:visited, a:active {
	color: #0068c6;
	text-decoration: none;
	border-bottom: 1px dotted #0068c6;
}

a:hover {
	color: #00407A;
	text-decoration: none;
	border-bottom: 1px dotted #00407A;
}

pre {
	color: #d3d7cf;
	background-color: #4e5051;
	width:	100%;
	margin:	0 auto;
	padding: 3px 5px;
	overflow-x: auto;
}

/* Header */
#header {
	width: 80%;
	margin: 0 auto 40px auto;
	padding: 0 15px;
	background: rgba(255,255,255,.5);
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	-moz-border-radius-bottomleft: 5px;
	-moz-border-radius-bottomright: 5px;
	border-style: none solid solid solid;
	border-color: white;
	border-width: 1px;
	}
#header h1 {
	font-size: 16pt;
	font-weight: normal;
	margin-top: 5px;
	}

#header a {
	display: inline-block;
	width: 380px;
	height: 46px;
	margin-bottom: 10px;
	padding-left: 20px;
	border-bottom: none;
	background: url(images/title.png) no-repeat;
	background-position: 0 -46px;
}

#header a:hover {
	background-position: 0 0;
}

/* Inner */

.footer {
	font-size: 12px;
	line-height: 12px;
	color: #aaa;
	margin-top: 5px;
}

.slogan {
	font-size: 10px;
	color: #2e3436;
}

.content {
	font-size: 14px;
	line-height: 22px;
	color: #2e3436;
	text-align: left;
	padding-left: 15px;
	margin-bottom: 40px;
}

.content .misc {
	font-size: 10px;
	line-height: 10px;
	color: #aaa;
	text-align: right;
	margin-top: 10px;
}

.content blockquote {
	border-left: 1px solid #ccc;
	padding-left: 15px;
	margin-left: 0px;
}

.content ul, .content ol {
	padding-left: 18px;
	margin-left: 0px;
}

#dsq-content ul li {
	list-style-image: none;
}

.content ul li {
	list-style-image: url(images/ul.png);
}

.content ol li {
	list-style-image: url(images/ol.png);
	}
.content ol li:first-child {
	list-style-image: url(images/ol-1.png);
	}
.content ol li:nth-child(2) {
	list-style-image: url(images/ol-2.png);
	}
.content ol li:nth-child(3) {
	list-style-image: url(images/ol-3.png);
	}
.content ol li:nth-child(4) {
	list-style-image: url(images/ol-4.png);
	}
.content ol li:nth-child(5) {
	list-style-image: url(images/ol-5.png);
	}
.content ol li:nth-child(6) {
	list-style-image: url(images/ol-6.png);
	}
.content ol li:nth-child(7) {
	list-style-image: url(images/ol-7.png);
	}
.content ol li:nth-child(8) {
	list-style-image: url(images/ol-8.png);
	}
.content ol li:nth-child(9) {
	list-style-image: url(images/ol-9.png);
	}

.content p a {
	margin: 0 2px;
	padding-right: 13px;
	background: url(images/link.png) no-repeat top right;
}

.content img {
	max-width: 700px;
	background-color: #fafafa;
	border: 1px solid #bcbcbc;
	box-shadow: 0 1px 4px rgba(0,0,0,.25);
}

.content .permaicon {
	border: none;
	background-color: transparent;
	box-shadow: none;
}

#Footer {
	color: #888;
	text-align: left;
	font-size: 10px;
	width: 80%;
	margin: 40px auto 0 auto;
	padding: 15px;
	background: rgba(255,255,255,.5);
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	border-style: solid solid none solid;
	border-color: white;
	border-width: 1px;	
}

a.dark:link, a.dark:visited, a.dark:active {
	color: #888;
	text-decoration: none;
	border: none;
}

a.dark:hover {
	color: #666;
	text-decoration: underline;
	border: none;
}

a.img {
	border: none;
}
