{% include 'header.html' %}
<body onload="setupZoom()" style="background:url(static/themes/default/images/white_texture.png) repeat;">
			<div id="header">
			      <h1 class="title">{{ site_name }}</h1>
			      <span class="slogan">{{ site_slogan }}</span>
			</div>
			<div class="inner">
				{% if article.title %}<div class="title">{% if parent %}<a href="/{{ parent.title_url }}">{{ parent.title }}</a> &nbsp;»&nbsp; {% endif %}{% if article.title_link%}<a href="{{ article.title_link }}" target="_blank">{{ article.title }}</a>{% else %}{{ article.title }}{% endif %}</div>{% endif %}
				<div class="content">
					{% ifequal article.format 'markdown' %}
						{{ article.content_formatted }}
					{% else %}
						{% ifequal article.format 'txt' %}
							{{ article.content|linebreaksbr }}
						{% else %}
							{{ article.content }}
						{% endifequal %}
					{% endifequal %}
					<div class="misc">Published on {{ article.created|date:"M-j G:i" }}</div>
				</div>
			</div>
{% include 'footer.html' %}