/*
Author: marguerite
Version: 2.0
*/
	
	
/* -- marguerite color manage */
body {
	font-family: 'Open Sans', sans-serif;
	color: #636363;
	}
abbr, textarea, input[type="text"], a:link, a:visited, #site-title a:hover, 
.entry-content p a, #wp-calendar caption, #site-info a:hover,
.comment-author cite, .recent-comment p a:hover{
	color: #5baddc;
	}
	/* -- links need normal text color-- */
#site-title a, #access a, #site-info a, .recent-comment p a, 
.widget_recent_entries ul li a, .widget_links ul li a,
.widget_meta ul li a, .entry-title a
{
	color: #636363;
	}
	
	
body {
	background: url(images/white_texture.png) repeat;
	margin: 0;
}
body,
input,
textarea {
	font-size: 12px;
}
h1,h2,h3,h4,h5,h6 {
	font-weight: normal;
}
table {
	border-collapse: collapse;
	}
ol, ul{
	list-style: none;
	padding: 0;
	margin: 0;
	}

/* Text elements */
strong {
	font-weight: bold;
}
abbr {
	border-bottom: 1px dotted #5baddc;
}
input[type="text"],
textarea {
	border: 1px solid #eee;
	padding: 5px;
}
a:link,a:visited{
	text-decoration: none;
}


/* =Layout
-------------------------------------------------------------- */
.content {
	width: 55%;
	float: left;
	margin-left: 5%;
	margin-bottom: 5%;
	padding: 0 15px 15px 15px;
	background: rgba(255,255,255,.5) url(images/widget_area.png) no-repeat center top;
	border-radius: 5px;
	-moz-border-radius: 5px;
	border: 1px solid #fff;
	box-shadow: 0 1px 3px rgba(0,0,0,.25);
	}
.categorytree {
	float: left;
	width: 55%;
	margin-left: 5%;
	border-left: 1px solid #5baddc;
	position: relative;
	}
.categorytree:after {
	position: absolute;
	content: '';
	width: 0;
	height: 0;
	left: -1px;
	bottom: 0;
	border: 5px solid;
	border-color: #5baddc transparent transparent #5baddc;
	}
#primary,
#secondary {
	float: right;
	overflow: hidden;
	width: 30%;
	margin-right: 5%;
	margin-bottom: 15px;
}
#footer {
	width: 90%;
	margin: 0 auto;
	clear:both;
	border: 1px solid #fff;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	background: rgba(255,255,255,.5) url(images/widget_area.png) no-repeat center top;
	}
.error404 {
	min-height: 480px;
	background: url(images/404.png) no-repeat bottom center;
	}


/* =Header
-------------------------------------------------------------- */
#header {
	background: rgba(255,255,255,.5) url(images/widget_area.png) no-repeat center top;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	-moz-border-radius-bottomleft: 5px;
	-moz-border-radius-bottomright: 5px;
	border-color: white;
	border-style: none solid solid solid;
	border-width: 0 1px 1px 1px;
	margin: 0 auto 25px auto;
	width: 90%;
	}
#site-title {
	float: left;
	width: 10%;
	font-size: 28px;
        margin-left:10px;
        margin-top:5px;
}
#site-title a:hover {
	background-position: 0 -46px;
	}
#site-title a {
	letter-spacing: 1px;
	text-transform: uppercase;
   height: 46px;
   display: block;
   padding-left: 20px;
	   background: url(images/title.png) no-repeat;
	   background-position: 0 0;
}
#site-description {
	margin-top: 12px
}
#subscribe {
	float: right;
	margin: 16px 3% 0 0;
	}
#subscribe a {
	display: inline-block;
	width: 32px;
	height: 32px;
	margin-right: 5px;
	padding: none;
	}
#subscribe a.rss {
	background-image: url(images/rss.png);
	}
#subscribe a.rss:hover, #subscribe a.twitter:hover, #subscribe a.gplus:hover {
	background-position: 0 -32px;
	}
#subscribe a.twitter {
	background-image: url(images/twitter.png);
	}
#subscribe a.gplus {
	background-image: url(images/g+.png);
	}


/* =Menu
-------------------------------------------------------------- */

#access {
	display: inline-block;
}
#access li {
	float: left;
}
#access a {
	display: block;
	line-height: 61px;
	text-align: center;
	padding: 0 10px;
	width: 100%;
}
#access a:hover {
	background-color: #5baddc;
	-moz-border-radius-bottomleft: 5px;
	-moz-border-radius-bottomright: 5px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	}

	
/* =Content
-------------------------------------------------------------- */
.content table {
	text-align: center;
	width: 300px;
	box-shadow: 0 0 1px #ddd;
}
.content tr td {
	color: #888;
	border: 1px solid #fff;
	background-color: #f5f5f5;
	padding: 6px 24px;
}
.content .entry-title {
	font-size: 28px;
}
.entry-utility {
	color: #999;
	font-size: 10px;
}
.entry-content,
.entry-summary {
	margin: 0 20px;
	padding: 12px 0 0 0;
}
.content .entry-summary p:last-child {
	margin-bottom: 12px;
}
.entry-content pre {
	border-radius: 4px;
	-moz-border-radius: 3px;
	background-color: #eee;
	margin-right: 25px;
	margin-bottom: 25px;
	padding: 2px 5px 2px 15px;
	color: #555;
	line-height: 200%;
	}
.entry-content blockquote {
	color: #aaa;
	max-width: 200px;
	background: url(images/blockquote-left.png) no-repeat top left;
	padding-left: 20px;
	margin: 15px;
}
.entry-content blockquote p {
	padding-right: 20px;
	background: url(images/blockquote-right.png) no-repeat bottom right;
	}
.entry-content p a {
	border-bottom: 1px dotted #5baddc;
	margin: 0 2px;
	padding-right: 13px;
	background: url(images/link.png) no-repeat top right;
	}
.entry-content p a.more-link {
	border: none;
	padding-right: 0;
	background: none;
	}
.entry-content strong a {
	background: url(images/blogilo.png) no-repeat;
	padding-right: 0;
	border: none;
	padding-left: 14px;
	}
.entry-content p del {
	color: #dc8a5b;
	}
.entry-content ul li {
	list-style-image: url(images/ul.png);
	}
.entry-content ul, .entry-content ol{
	margin: 5px 20px;
	}
.entry-content ol li {
	list-style-image: url(images/ol.png);
	}
.entry-content ol li:first-child {
	list-style-image: url(images/ol-1.png);
	}
.entry-content ol li:nth-child(2) {
	list-style-image: url(images/ol-2.png);
	}
.entry-content ol li:nth-child(3) {
	list-style-image: url(images/ol-3.png);
	}
.entry-content ol li:nth-child(4) {
	list-style-image: url(images/ol-4.png);
	}
.entry-content ol li:nth-child(5) {
	list-style-image: url(images/ol-5.png);
	}
.entry-content ol li:nth-child(6) {
	list-style-image: url(images/ol-6.png);
	}
.entry-content ol li:nth-child(7) {
	list-style-image: url(images/ol-7.png);
	}
.entry-content ol li:nth-child(8) {
	list-style-image: url(images/ol-8.png);
	}
.entry-content ol li:nth-child(9) {
	list-style-image: url(images/ol-9.png);
	}
	
/* fix jquery snippet */
.entry-content pre ol li:first-child, .entry-content pre ol li:nth-child(2),
.entry-content pre ol li:nth-child(3),.entry-content pre ol li:nth-child(4),
.entry-content pre ol li:nth-child(5),.entry-content pre ol li:nth-child(6),
.entry-content pre ol li:nth-child(7),.entry-content pre ol li:nth-child(8),
.entry-content pre ol li:nth-child(9) {
	list-style-image: none;
	}

#entry-author-info {
	border: 1px solid #eee;
	padding: 15px;
	background-color: #fafafa;
	margin: 15px 0;
}
#author-avatar {
	float: left;
	width: 15%;
	}
#author-avatar img{
	border-radius: 32px;
	-moz-border-radius: 32px;
	}
#author-description {
	width: 80%;
	}
#author-link {
	margin-left: 20%;
	}
span.date,
a.author {
	padding-left: 18px;
	display: inline-block;
	height: 16px;
	line-height: 16px;
	}
span.date {
	color: #999;
	margin-bottom: 5px;
	margin-right: 5px;
	background: url(images/calendar.png) no-repeat;
	}
a.author {
	background: url(images/author.png) no-repeat;
	}
.entry-utility a[rel=category],.entry-utility a[rel=tag],.entry-utility .permalink, .comments-link a {
	display: inline-block;
	padding-left: 18px;
	height: 16px;
	line-height: 16px;
}
.entry-utility a[rel=category]{
	background:url(images/category.png) no-repeat;
	}
.entry-utility a[rel=tag] {
	background:url(images/tag.png) no-repeat;
	}
.entry-utility .permalink {
	background: url(images/permalink.png) no-repeat;
	}
.comments-link {
	color: #999;
	}
.comments-link a {
	background: url(images/comment.png) no-repeat;
	}
	
	
/* =Gallery listing
-------------------------------------------------------------- */
.gallery {
	background: url(images/camera.png) no-repeat center center;
	min-height: 457px;
	}
.gallery dl {
	float: left;
	}


/* =Images
-------------------------------------------------------------- */
.entry-content img {
   background-color: #fafafa;
   border: 1px solid #bcbcbc;
   box-shadow:0 1px 4px rgba(0,0,0,.25);
}


/* =Navigation
-------------------------------------------------------------- */
.navigation {
	margin: 0 auto 25px auto;
	height: 32px;
	width: 50%;
	border-bottom: 1px solid #5baddc;
	}
.nav-previous a, .nav-next a {
	display: inline-block;
	text-indent: -9999px;
	width: 32px;
	height: 32px;
	margin: 15px 0;
	}
.nav-previous a {
	float: left;
	background: url(images/prev.png);
}
.nav-next a {
	float: right;
	background: url(images/next.png);
}


/* =Comments
-------------------------------------------------------------- */
#comments {
	clear:both; /*-- clear the nav float --*/
	}
#comments .navigation {
	padding: 0 0 18px 0;
}
h3#comments-title,
h3#reply-title {
	font-size: 16px;
}
h3#comments-title {
	text-align: center;
}
.commentlist li {
	border-bottom: 1px solid #e3e3e3;
}
.commentlist li:last-child {
	border-bottom: none;
	margin-bottom: 0;
}
.commentlist li p {
	margin: 5px;
	}
.commentlist li a.comment-reply-link {
	display: inline-block;
	float: right;
	width: 17px;
	margin-right: 15px;
	background: url(images/reply.png) no-repeat;
	text-indent: -9999px;
	}
.commentlist .pingback a.comment-edit-link {
	display: none;
	}
#comments .comment-body {
	display: block;
	margin-left: 12%;
	min-height: 100px;
   box-shadow: -10px 0 10px -8px rgba(150,150,150,.5);
	}
#comments .comment-body ul {
	margin-bottom: 18px; 
}
#comments .comment-body blockquote p:last-child {
	margin-bottom: 24px;
}
.comment-author {
	display: block;
	float: left;
	  width: 10%;
	margin-top: 5px
}
.comment-author img{
	border-radius: 24px;
	-moz-border-radius: 24px;
	}
.comment-author cite {
   font-size: 10px;
}
.comment-meta {
	text-align: right;
	}
.comment-meta a {
	color: #999;
	}
.nopassword,
.nocomments {
	display: none;
}
#comments .pingback {
	border-bottom: 1px solid #e7e7e7;
	padding-top: 10px;
	padding-bottom: 10px;
}
#comments .pingback p {
	color: #333;
	display: block;
	font-size: 12px;
	line-height: 18px;
	margin: 0;
}
#comments .pingback .url {
	font-size: 13px;
	font-style: italic;
}

/* Comments form */
.children #respond {
	margin: 0 48px 0 0;
}
#comments-list #respond {
	margin: 0 0 18px 0;
}
#comments-list ul #respond {
	margin: 0;
}
#cancel-comment-reply-link {
	font-size: 12px;
	font-weight: normal;
	line-height: 18px;
}
#respond .required {
	color: #dc8a5b;
	font-weight: bold;
	}
#respond .comment-form-email .required, #respond .comment-form-author .required {
	float: right;
	margin-right: 30%;
}
#respond textarea {
	width: 98%;
}
#respond .form-allowed-tags {
	color: #aaa;
}
#respond #author, #respond #email, #respond #url {
	border-radius: 0 5px 5px 0;
	border-style: solid solid solid none;
	}
#respond label[for=url], #respond label[for=author], #respond label[for=email]{
	border-radius: 3px 0 0 3px;
	padding: 3px 5px 4px 5px;
	margin-right: -2px;
	width: 50px;
	text-align: center;
	display: inline-block;
	color: white;
	background-color: #5baddc;
	position: relative;
	}
#respond label[for=url]:after, #respond label[for=author]:after, #respond label[for=email]:after {
	position: absolute;
	content: '';
	width: 0;
	height: 0;
	left: 60px;
	top: 8px;
	border: 5px solid;
	border-color: transparent transparent transparent #5baddc;
	}
#respond label[for=comment]{
	width: 98%;
	color: white;
	background-color: #5baddc;
	border-radius: 3px 3px 0 0;
	padding: 3px 8px 3px 4px;
	margin-bottom: -2px;
	text-align: center;
	display: block;
	position: relative;
	}
#respond label[for=comment]:before {
	position: absolute;
	content: '';
	width: 0;
	height: 0;
	left: 49%;
	top: 22px;
	border: 5px solid;
	border-color: #5baddc transparent transparent transparent;
	}
input[type=submit] {
	color: white;
	background-color: #5baddc;
	border-radius: 5px;
	border: none;
	padding: 3px 5px;
}


/* =Widget Areas
-------------------------------------------------------------- */
.widget-area {
	border: 1px solid #fff;
	box-shadow: 0 1px 3px rgba(0,0,0,.25);
	border-radius: 5px;
	-moz-border-radius: 5px;
	background: rgba(255,255,255,.5) url(images/widget_area.png) no-repeat center top;
	}
.widget-area ul ul {
	padding: 5px 30px;
	list-style-image: url(images/list-circle.png);
}
.widget_search #s {/* This keeps the search inputs in line */
	width: 60%;
}
.widget_search label {
	display: none;
}
.widget-container {
	margin: 0 0 18px 0;
}
.widget-title {
	margin: 10px 15px;
	padding: 5px 15px;
	background: rgba(255,255,255,.5);
	}
#searchform {
	margin: 15px auto;
	width: 90%;
	}
#searchform #searchsubmit {
	width: 27%;
	height: 34px;
	border: none;
	border-radius: 0 3px 3px 0;
	background-color: #5baddc;
	margin-left:-1%;
	padding: 0;
	}
#searchform #s{
	width: 70%;
	height: 32px;
	border-width: 1px none 1px 1px;
	border-style: solid none solid solid;
	border-radius: 5px 0 0 5px;
	border-color: #eee;
	box-shadow:none;
	padding: 0 0 0 5px;
	vertical-align:top;
	}
#wp_tag_cloud div {
	line-height: 1.6em;
}
#wp-calendar {
	width: 85%;
	margin: 0 auto;
}
#wp-calendar caption {
	font-size: 11px;
	padding-bottom: 4px;
	text-align: left;
}
#wp-calendar thead {
	font-size: 10px;
}
#wp-calendar thead th {
	color: #fff;
	background-color: #5baddc;
	border-top: 1px solid #fff;
}
#wp-calendar thead th:first-child{
	border-left: 1px solid #fff;
	}
	#wp-calendar thead th:last-child {
	border-right: 1px solid #fff;
	
	}
#wp-calendar tbody {
	color: #aaa;
}
#wp-calendar tbody td {
	background: #f5f5f5;
	border: 1px solid #fff;
	padding: 3px 0 2px;
	text-align: center;
}
#wp-calendar tbody .pad {
	background: none;
}
#wp-calendar tfoot #next {
	text-align: right;
}
.widget-area ul ul.blogroll {
	list-style-image: url(images/link.png);
	}
.widget-area ul li div.tagcloud {
	width: 80%;
	margin: 0 auto;
	}
.textwidget {
	width: 80%;
	margin: 0 auto;
	}


/* =Footer
-------------------------------------------------------------- */
#site-info {
	float: left;
	font-size: 10px;
		margin-left: 5px;
}
#colophon {
	overflow: hidden;
	padding: 18px 0 0 0;
	height: 36px;
}
#site-info a {
	font-size: 16px;
	letter-spacing: 1px;
	text-transform: uppercase;
	display: inline-block;
	padding-left: 20px;
	height: 32px;
	background: url(images/title.png) no-repeat;
	background-position: 0 -14px;
}
#site-info a:hover {
	background-position: 0 -60px;
	}
#site-generator {
	float: right;
	margin-right: 3%;
	margin-top: -5px;
}
#site-generator a {
	display: inline-block;
	text-indent: -9999px;
	width: 32px;
	height: 32px;
}
#site-generator a.wordpress {
	background: url(images/wordpress.png);
	}
#site-generator a.cc {
	background: url(images/cc.png);
	}
#site-generator a.gimp {
	background: url(images/gimp.png);
	}	
	
/* -- marguerite recent avatar comments -- */
li.recent-comment {
	list-style-image: none;
	position: relative;
	}
.recent-comment img {
	border-radius: 16px;
	-moz-border-radius: 16px;
	float:left;
}
.recent-comment p {
	width: 80%;
   margin-left: 40px;
	}
.recent_comment_text {
	width: 85%;
	float: right;
	border-bottom: 1px solid #ddd;
	color: #aaa;
	font-size: 10px;
	}
.recent_comment_name {
	margin-left: 5px;
	}
.recent_comment_date {
	float: right;
	}
	
	
/* -- marguerite dropdown categories -- */
/* -- webkit -- */
.dropdown_categories {
	margin: 0 auto;
	width: 85%;
	}
*:focus {
	outline: none;
	}
.dropdown_categories select {
	-webkit-appearance: none;
   background-color: #5baddc;	
   color: white;
   border: none;
	}
.dropdown_categories select option {
	color: #636363;
	}
.dropdown_categories select option[value="-1"] {
	display: none;
	}
	
	
/* -- marguerite webkit scrollbars --*/
::-webkit-scrollbar {
	width: 10px;
	height: 10px;
	}
::-webkit-scrollbar-track {
	border-radius: 10px;
	box-shadow: inset 0 0 3px rgba(0,0,0,.25);
	}
::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background-color: #5baddc;
	box-shadow: inset 0 0 3px rgba(0,0,0,.25);
	}
	

/* -- marguerite category tree view --*/
.categorytree .post {
	margin-bottom: 50px;
	}
.categorytree h1 {
	background-color: #5baddc;
	color: white;
	padding: 0 15px;
	}
.categorytree h2 {
	border-bottom: 1px solid #5baddc;
	width: 90%;
	position: relative;
	padding: 0 15px;
	}
.categorytree h2:after {
	position: absolute;
	content: '';
	width: 0;
	height: 0;
	left: 100%;
	bottom: -1px;
	border: 5px solid;
	border-color: transparent transparent #5baddc #5baddc;
	}
.categorytree .entry-utility {
	padding: 0 15px;
	margin-top: -10px;
	}
	
/* -- marguerite category bar view --*/
table.bar-chart {
	display: block;
	width: 80%;
	margin: 0 auto;
	position: relative;
	}
.bar-chart td.cat_name {
	font-size: 10px;
}
.bar-chart td.cat_bar {
	display: inline-block;
	width: 10px;
	background-color: #5baddc;
	margin: 0 0 5px 5px;
	vertical-align: bottom;
	text-align: center;
	color: white;
	}
