{% include 'header.html' %}
<body style="background:url(static/themes/neverland/images/white_texture.png) repeat;font-family:'Open Sans',sans-serif;margin:0;padding:0;">
	<div id="header">
		<img style="float:right;max-width:400px;display:inline-block;margin-top:5px;" src="static/themes/neverland/images/122banner.png"/>
		<a href="/"><h1 id="title">{{ site_name }}</h1></a>
			<span class="slogan">{{ site_slogan }}</span>
	</div>
	<div class="inner" style="width:80%;margin:0 auto; padding: 15px; background:rgba(255,255,255,.5) url(static/themes/neverland/images/widget_area.png) no-repeat top center;border-radius: 5px;-moz-border-radius: 5px;border:1px solid white;">
		<h1>Page Not Found</h1>
		<div style="margin: 0 auto;"><img src="static/themes/neverland/images/404.png"/></div>
	</div>
{% include 'footer.html' %}
